<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
	.completed {
		color : red;
		text-decoration: line-through;
		font-style: italic;
	}
	li{
		cursor: pointer;
	}
	</style>
	<script src="angular.js"></script>
	<script>
		var tApp = angular.module('taskApp', []);

		tApp.factory('Task', function(){
			function Task(defaults){
				defaults = defaults || {}; 
				this.id = defaults.id || -1;
				this.name = defaults.name || "";
				this.isCompleted = defaults.isCompleted || false;
			};
			Task.prototype.toggleCompletion = function(){
				this.isCompleted = !this.isCompleted;
			};
			return Task;	
		});
		tApp.controller('taskController', function taskController($scope, $http, Task){

			var tasks = $scope.tasks = [];
			$http.get('/tasks').then(function(res){
				tasks = $scope.tasks = res.data.map(function(d){
					return new Task(d);
				});
			});

			$scope.addNew = function(taskName){
				var newTask = new Task({name : taskName})
				tasks.push(newTask);
			};
			
			$scope.removeCompleted = function(){
				for(var i=tasks.length-1;i>=0;i--){
					if (tasks[i].isCompleted)
						tasks.splice(i,1);
				}
			}
		});

	</script>
</head>
<body ng-app="taskApp">
	<h1>Task Manager</h1>
	<hr>
	<div data-ng-controller="taskController">
		<label for="txtTask">Task :</label>
		<input type="text" name="" id="txtTask" data-ng-model="newTask">
		<input type="button" value="Add Task" id="btnAdd" data-ng-click="addNew(newTask)">
		<input type="button" value="Remove Completed" id="btnRemoveCompleted" data-ng-click="removeCompleted()">
		<ul id="ulTaskList">
			<li 
			data-ng-repeat="task in tasks" 
			data-ng-click="task.toggleCompletion()"
			data-ng-class="{completed : task.isCompleted}"
			>{{task.name}}</li>
		</ul>
		<div>Total Task # : {{tasks.length}}</div>
	</div>
</body>
</html>